
/**** Main Structure ****/


body {
    margin: 0;
    background: #231F26;
    overflow: hidden;
}


.content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 1% 2% 28%;
    grid-template-rows: 5% 75% 20%;
    overflow: hidden;
}


.title-container{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    vertical-align: middle:;
    margin-top: 10px;
    padding-left: 10px;
    font: 3vh Bahnschrift;
    color: #FFF;
}


.board-container{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}


.story-container{
    grid-row: 1 / 4;
    grid-column: 4 / 5;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
}
.story-container::-webkit-scrollbar {
    display: none;
}


.story{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/**** Board Layout ****/

.board {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: calc(20% - 30px) 20% calc(20% - 30px) 20% 10% 10%;
    grid-template-rows: 40% calc(20% - 20px) 25% 15%;
    justify-content: space-around;
    align-content: space-between;
}


.top {
    grid-row: 1 / 2;
}


.bot {
    grid-row: 3 / 5;
}


.inplays {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}


.supply {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}


.trash {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}


.decks {
    grid-column: 2 / 3;
}


.hands {
    grid-column: 3 / 4;
}


.discards {
    grid-column: 4 / 5;
}


.tavern {
    grid-column: 5 / 6;
}


.others {
    grid-column: 6 / 7;
}


.empties {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: #282923;
    border: 1px solid #3E3B3F;
    display: flex;
    overflow: hidden;
    z-index: -2;
    justify-content: space-around;
    align-items: center;
}


/**** Card Stacks ****/


.card-stack {
    display: flex;
    z-index: -2;
    border: 1px solid #3E3B3F;
    overflow: auto;
    scrollbar-color: transparent transparent;

}
.card-stack::-webkit-scrollbar {
    display: none;
}

.card-stack:not(.inplays){
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.card-stack.top{
    background: #35191D;
}

.card-stack.bot{
    background: #0C162B;
}

.card-stack:not(.top):not(.bot){
    background: #282923;
}

.card-stack.inplays{
    padding-left: 10px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}


.label{
    grid-column: 2 / 7;
    opacity: 0.3;
    z-index: -1;
    color: #666;
    font: 9vh Bahnschrift;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}


.stack-label{
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    padding-top: 10px;
    color: #666;
    text-align: center;
    font: 3.5vh Bahnschrift;
}


.card-container {
    margin: 6px;
    width: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-small {
    width: 4.6vh;
    height: 3.3vh;
    margin-left: 3px;
    padding: 6px 0px 4px 0px;
    box-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, .6);
}


.card-small-inner, .card-mid-inner, .card-big-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.card-label{
    width: 2.7vh;
    color: #FFF;
    font: 3vh Bahnschrift;
    text-align: right;
}


.inner-text{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    color: #FFF;
    font: 3vh Bahnschrift;
    text-align: center;
    filter: drop-shadow(0px 0px 1.5px #000);
}


.noselect, img{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}


/**** Story Legend ****/

.story-legend {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.legend-entry {
    transition: all 0.3s ease-out;
    width: 100%;
    height: 2vh;
    color: #999;
    font: 1.5vh Bahnschrift;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend-entry:hover{
    color: #F6FBA0;
}

.legend-entry.first{
    background: #210F0F;
}

.legend-entry.second{
    background: #111226;
}

.legend-entry.highlight{
    color: #FFF;
    background: #70691A;
}


/**** Story Bar ****/


.story-label{
    padding: 0 3px;
    margin: 1px 3px;
    border-width: 3px;
    border-style: solid;
    color: #FFF;
    font: 1.5vh Segoe UI;
    text-align: center;
}


.story-line-container{
    width: 100%;
}


.story-line{
    padding: 0.3vh 0px;
    vertical-align: middle;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #FFF;
    font: 1.5vh Segoe UI;
}
.story-line:hover{
    background-color: #70691A;
}

.story-line.highlight{
    background-color: #AE9E2E;
}


.phase-start{
    background-color: #2B2B38;
}

.phase-action{
    background-color: #20202C;
}

.phase-buy{
    background-color: #1D1D28;
}

.phase-night{
    background-color: #292828;
}

.phase-cleanup{
    background-color: #16161F;
}

/**** Controls ****/


.base-container{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.controls{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.control-button{
    width: 3vw;
    height: 3vw;
    background-size: 3vw 3vw;
}

.control-button:hover{
    filter: drop-shadow(0 0 5px #EFDE1D);
}


.mode-switches {
    height: 90%;
    width: 3vw;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}


.mode-switch > img {
    width: 3vw;
    height: 3vw;
}


.mode-switch.active > img, .mode-switch:hover > img {
    filter: drop-shadow(0 0 5px #EFDE1D);
}


.info, .base-scores{
    width: 50%;
}


.base-scores{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 89% 1% 10%;
}


.icon-row, .label-row, .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.label-row{
    margin-top: 10px;
}


.icon-row > img{
    width: 4vw;
    height: 4vw;
}


.row {
    height: 6vh;
    grid-column: 1 / 2;
}

.totals {
    height: 6vh;
    grid-column: 3 / 4;
    color: #FFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font: 3.5vh Bahnschrift;
}

.first {
    background-color: #834A4A;
    grid-row: 1 / 2;
}

.second {
    background-color: #464576;
    grid-row: 2 / 3;
}


.single-label, .top-label, .bot-label{
    width: 4vw;
    text-align: center;
    color: #666;
    font: 3vh Bahnschrift;
}

.top-label{
    color: #9A0F0F;
}

.bot-label{
    color: #2B2D7C;
}

/**** Bottom Tabs ****/

.bottom-tabs{
    position: absolute;
}


.bottom-tab{
    transition: all 0.5s ease-out;
    top: 100%;
    transform: translateY(-6vh);
}

.bottom-tab.hovered:not(.active){
    transform: translateY(-10vh);
}


.bottom-tab.hovered > .kingdom-tab-icon{
    filter: drop-shadow(0 0 5px #EFDE1D);
}


.bottom-tab.active{
    transform: translateY(-85vh);
}


.kingdom-tab-icon{
    bottom: -5px;
    width: 12vh;
    height: 8vh;
    background-size: 12vh 8vh;
    position: relative;
}


.card-mid {
    width: 8.6vh;
    height: 6.3vh;
    padding: 7px 0px 5px 0px;
    margin: 10px;
    box-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, .6);
}


.card-big {
    width: 14.3vh;
    height: 10.5vh;
    padding: 12px 0px 8px 0px;
    margin: 15px;
    box-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, .6);
}


.kingdom-tab {
    width: 120vh;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #3E3B3F;
    background: rgba(40, 41, 35, 0.8);
}


.kingdom-container{
    margin-top: 5vh;
    width: 100vh;
    display: flex;
    flex-flow: wrap-reverse;
}