/*********** Everything Animated ***********/

.help-container, .logo, .search-container, .results-container{
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


body{
	background: #231F26;
}


.logo{
	padding-top: 5vh;
	width: 500px;
}


.content-container{
	height: 100%;
	width: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}


.content-container-row{
	height: 100%;
	width: 100%;
	overflow: hidden;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}


.help-container{
	width: 50%;
	height: 60%;
	opacity: 0;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.help-container > img{
	width: 60%;
}
.help-container > p{
	width: 100%;
}


.results-container{
	width: 0%;
	height: 100%;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}


p{
	width: 50%;
	padding: 10px;
	background: #383838;

	font-family: "Segoe UI";
	text-align: center;
	color: #FFFFFF;
}


a{
	font-family: "Segoe UI";
	color: #BBBBFF;
	text-decoration: none;
}
a:hover{
	color: #BBBB66;	
}


h1{
	color: #FFFFFF;
	font: 3.5vh Verdana;
	text-shadow: 1px 1px 0 #000;
}


.log-list{
	width: 50%;
	padding: 10px;
	background: #383838;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.log-entry{
	width: 80%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}


.log-info{
	width: 40%;

	font: 1.5vh "Segoe UI";
	text-align: left;
	color: #FFFFFF;
}


.search-container{
	width: 70vh;
	padding-top: 10vh;
	margin-right: 15%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}


.search-row{
	width: 100%;
	height: 5vh;
	margin-top: 1vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.search-main{
	width: 80vh;
	height: 5vh;
	margin-top: 1vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.searchbox{
	width: 50%;
	height: 100%;
	padding-left: 1vh;
	margin-right: 3vh;

	font: 3vh "Segoe UI";
	background: #444444;
	color:#FFFFFF;
	border:#333 1px solid;
}


.search-button{
	width: 15vh;
	height: 95%;

	font: 3vh "Segoe UI";
	background: #444444;
	color:#FFFFFF;
	border:#333 1px solid;

	display: flex;
	flex-direction: row;	
	justify-content: center;
	align-items: center;
}
.search-button:hover{
    background: #3C75BC; 
}


.left-label{
	width: 40%;
	padding-right: 5%;

	font: 2vh "Segoe UI";
	color: #FFFFFF;

	display: flex;
	flex-direction: row;	
	justify-content: flex-end;
	align-items: center;
}


.undertext{
	width: 40%;
	height: 5vh;
	margin-top: 1vh;

	display: flex;
	flex-direction: row;	
	justify-content: center;
	align-items: center;
}
.undertext > :not(:first-child){
	margin-left: 2%;
}

.help-hint, .random-log{
	font-family: "Segoe UI";
	color: #BBBBFF;

	display: flex;
	flex-direction: row;	
	justify-content: center;
	align-items: center;
}
.help-hint:hover, .random-log:hover{
	color: #BBBB66;
}