/*********** Everything Animated ***********/

.axis, .axislabel, .box, .controlbox, .graph, .graph-control, 
.graph-layer, .inner-color, .kingdom-card, .legendbox, .modal, 
.modalcontrolbox, .scale-bar, .settingsbox,
.story-sidebar-block, .vpbox{
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;	

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}


/*********** Everything Fonty ***********/

.inner-color, .controlbox, .kingdom-card, .kingdom-label, .modalcontrolbox,
.settingsbox, .story-color, .story-line, .story-sidebar-block, .wrap{
	color: #FFFFFF;
	font: 1.5vh Segoe UI;
	text-shadow: 1px 1px 0 #000;
}

.inner-color, .controlbox, .kingdom-card, .modalcontrolbox, 
.story-color, .story-sidebar-block, .wrap{
	text-align: center;
}


/*********** Structure ***********/

body{
	background: #141411;
	overflow: hidden;
}

modals, content{
	position: absolute;
	width: 100%;
	height: 100%;
}

modals{
	z-index:1;

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;
}

.topbar{
	height: 5%;
	padding: 0 0 0 2%;
	background: #595959;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #FFFFFF;
	font: 3.5vh Verdana;
	text-shadow: 1px 1px 0 #000;
}

.container{
	position: relative;
	height: 95%;

	display: flex;
	justify-content: space-between;
	align-items: center;	
}


/*********** Graph ***********/

.graph-control-container{
	position: absolute;
	width: 35%;
	height: 90%;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	pointer-events: none;
}

.graph-window{
	position: relative;
	width: 35%;
	height: 90%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.graph{
	width: 100%;
	height: 200%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.graph.downshifted{
	transform: translateY(44%);
}
.graph.topshifted{
	transform: translateY(-44%);
}

.graph-control{
	height: 2%;
	background: #595959;

	pointer-events: auto;
}
.graph-control.highlight{
	background: #66D9EF!important;
}
.graph-control:hover{
	background: #90E2F2!important;	
}

.graph-container, .graph-background{
	position: absolute;
	width: 100%;
	height: 94%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.graph-container{
	z-index:1;
	pointer-events:none;
}
.graph-container:not(:first-child){
	display: none;
}

.graph-layer{
	position: absolute;
	width: 100%;
	height: 100%;
}

.row{
	position: relative;
	min-height: 96%;
	width: 100%;
	top: 0;

	display: flex;
}
.row:nth-child(1){
	transform-origin: bottom;
}
.row:nth-child(3){
	transform-origin: top;
}

.axis{
	min-height: 6%;
	z-index: 1;
	background: #111111;

	display: flex;
	visibility: hidden;
}

.axislabel{
	min-width: 2.5vh;
	height: 100%;
	background: #111111;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #FFFFFF;
	font: 1.2vh Consolas;
	text-align: center;
}
.axislabel:hover{
	background: #CC9922!important;
}

.col{
	min-width: 2.5vh;
	height: 200%;
	background: #272827;
}
.col.active{
	background: #383838;
}

.leftstripe{
	width: 0.3vh;
	height: 100%;
}
.leftstripe.active{	
	background: #F92672;
}

.box{
	position: absolute;
	width: 1.8vh;
	height: 1.4vh;

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: auto;
}
.box.faded{
	opacity:0.2;
}

.box-inner{
	background:#120462;
	width: calc(100% - 4px);
	height: calc(100% - 4px);

	display: flex;
	justify-content: center;
	align-items: center;

	color: #FFFFFF;
	font: 1.1vh Consolas;
}
.box-inner.dark{
	color: #000000;
}

.vpbox{
	position: absolute;
	width: 1.8vh;
	height: 1.4vh;

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: auto;
}

.vplabel{
	width: 2.5vh;
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #FFFFFF;
	font: 1.2vh Consolas;
	text-align: center;
}

.redoutline{
	outline: #FF0000 solid 2px;
}

.blueoutline{
	outline: #006699 solid 2px;
}


/*********** Middle Block ***********/

.scale-bar{
	width: 1.5%;
	height: 80%;
	border-radius: 2vh;
	position: relative;

	background: #383830;
	opacity: 0.6;
}
.scale-bar:hover{
	opacity: 1;
}

.scale-bg{
	width: 10%;
	height: 96%;
	top: 2%;
	left: 45%;
	position: absolute;

	background: #FD971F;
}

.scale-nub{
	width: 3vh;
	height: 3vh;
	left: calc(50% - 1.5vh);
	border-radius: 3vh;
	position: absolute;

	background-color: #66D9EF;
}

.middle-stack{
	width: 20%;
	height: 90%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.legend{
	position:relative;
	width: 95%;
	height: 90%;
	overflow:hidden;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.legendbox{
	width: 7.5vh;
	height: 5vh;
	padding: 1vh;
	margin: 0.4vh;
	overflow: hidden;
}
.legendbox.faded{
	opacity: 0.5;
}
.legendbox.glow{
    box-shadow: 0px 0px 5px #fff;
}
.legendbox.highlight .inner-color{
	background-color: #FFFF80 !important;
}

.inner-color{
	width: 100%;
	height: 100%;
	padding: 0 2% 0 2%;

	display:flex;
	justify-content:center;
	align-items:center;
}

.wrap{
	width: 100%;
	overflow-wrap: break-word;
}

.controls{
	position:relative;
	width: 95%;
	min-height: 10%;
	margin-left: 1%;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.controlbox, .modalcontrolbox, .settingsbox{
	height: 5vh;
	padding: 0 5%;
	margin: 4px 0;

	display:flex;
	justify-content:center;
	align-items:center;
	flex-grow: 1;

	border-top: 4px solid #DDDDDD;
	border-bottom: 4px solid #DDDDDD;
}
.controlbox:not(.faded), .modalcontrolbox:not(.faded), .settingsbox:hover{
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 80, 0.4), rgba(0, 0, 0, 0) 90%);
}
.controlbox.faded, .modalcontrolbox.faded{
	opacity: 0.3;
}
.controlbox:hover, .modalcontrolbox:hover{
	opacity: 1;
}


/*********** Log ***********/

.story{
	position: relative;
	width: 40%;
	height: 95%;

	display: flex;
}

.story-container{
	position: relative;
	width: 90%;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.story-line{
	width: 100%;
	background: #272822;
	padding: 0.2vh 0;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.story-line.alternate{
	background: #595959;
}

.story-color{
	height: 1.5em;
	margin: 4px;
	padding: 0px 2px 0px 0px;

	display: flex;
	justify-content: center;
	align-items: center;
	outline: 2px solid;
}

.story-sidebar{
	width: 10%;

	display: flex;
	flex-direction: column;
}

.story-sidebar-block{
	min-height: 0.8em;
	background: #272822;

	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px #999 dashed;
}
.story-sidebar-block:hover{
	background: #CC9922!important;
	transform: translateX(-10px);
}
.story-sidebar-block.alternate{
	background: #595959;
}


/*********** Modals ***********/

.modal{
	opacity: 0;
}

.title{
	height: 10%;
	width: 100%;
	margin-bottom: 4%;
	background: #272822;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;

	font: 3vh Verdana;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000;
}

.kingdom-display{
	position: relative;
	width: 40%;
	height: 60%;
	overflow: hidden;
	background: #595959;
    box-shadow: 5px 5px rgba(0,0,0,0.3);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kingdom-label{
	width: 80%;

	display: flex;
	align-items: flex-start;
}

.kingdom-container{
	position: relative;
	width: 90%;
	height: 20%;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.kingdom-container.longer{
	height :30%;
}

.kingdom-card{
	width: 7.5vh;
	height: 5vh;
	padding: 1vh;
	margin: 0.4vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}