
body{
	background: #202020;
}

.topbar{
	height: 5%;
	background: #444444;
	font-size: 2em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000;
	padding: 0 0 0 2%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	font-family: Verdana;
}

.container{
	height: 95%;
	min-height: 900px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items: center;
	position:relative;
}

.graph{
	width: 40%;
	height: 90%;
	overflow: hidden;
	position:relative;
}

.graph-control-container{
	width: 40%;
	height: 93%;
	min-height: 830px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	position:absolute;	
}
.graph-container, .graph-background{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	position:absolute;
}

.row{
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	min-height:94%;
	width: 100%;
	display: flex;
	position:relative;
}

.row.downshifted{
	transform:translateY(50%);
}
.row.topshifted{
	transform:translateY(-50%);
}

.graph-control{
	background: #444444;
	height:2%;
}

.graph-control.highlight{
	background: #99AACC!important;
}
.graph-container{
	z-index:1;
	pointer-events:none;
}

.axis{
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background: #111111;
	min-height: 6%;
	display: flex;
	z-index:1;
}

.axis.downshifted{
	transform:translateY(783.333%);
}
.axis.topshifted{
	transform:translateY(-783.333%);
}

.axislabel{
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	min-width: 3.5%;
	height: 100%;
	font-family: "Consolas";
	display:flex;
	align-items:center;
	justify-content: center;
	text-align:center;
	font-size: 0.8em;
	color: #FFFFFF;
	background:#111111;
}
.axislabel.highlight{
	background:#CC9922!important;
}

.col{
	min-width: 3.5%;
	height: 200%;
	flex-direction:row;
	flex-wrap: wrap-reverse;
	align-items:flex-start;
	background: #222525;
}

.active{
	background:#333535;
}
.boxstack{
	min-width: 3%;
	height:100%;
	padding: 0 0.5% 0 0;
	margin: inherit;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	overflow: hidden;
}
.box-outline{
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	min-width: 2.4%;
	height: 1.7%;
	position:absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	pointer-events:auto;
}

.graph-layer{
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	width: 100%;
	height: 100%;
	position: absolute;
}

.box{
	background:#120462;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

.redoutline, .blueoutline{
	width: calc(80% - 2px);
	min-height: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 1px;
}

.redoutline{
	outline: #FF0000 solid 2px;
}

.blueoutline{
	outline: #006699 solid 2px;
}

.highlight{
	background-color:#FFFF99!important;
}

.spacer{
	margin-top: 2px;
	margin-bottom: 2px;
}

.reverse.boxstack{
	flex-direction:column;
}
.reverse.col{
	flex-wrap: wrap;
}

.leftstripe{
	align-self:flex-start;
	width: 20%;
	height: 100%;
}

.leftstripe.active{	
	background:#FF3333;
}

.legend{
	width: 95%;
	height: 90%;
	margin-left: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content:center;
	overflow:hidden;
	position:relative;
}
.legendbox{
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	width: 20%;
	min-height: 6%;
	background:#120462;
	font-size: 1em;
	padding: 10px;
	margin: 3px;
	color: #FFFFFF;
	overflow: hidden;
}
.inner-color{
	width:100%;
	height:100%;
	padding: 0 2% 0 2%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.wrap{
	display: inline-block;
	text-align:center;
	text-shadow: 1px 1px 0 #000;
	font-family: "Segoe UI";
}

.story-color{
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	height:1.4em;
	background:#120462;
	font-family: "Segoe UI";
	display:flex;
	align-items:center;
	justify-content:center;
	font-size: 0.9em;
	outline: 2px solid;
	color: #FFFFFF;
	margin: 4px;
	padding: 0px 2px 0px 0px;
}
.faded{
	opacity:0.2;
}
.vanish{
	min-height:0px!important;
	outline: 0px;
	margin: 0px;
}

.story-container{
	width:37%;
	height: 90%;
	display: flex;
	flex-direction: column;
	overflow:hidden;
	position:relative;
}

.story-line{
	width: 100%;
	font-size: 1em;
	display:flex;
	font-family: "Segoe UI";
	flex-wrap:wrap;
	align-items:center;
	justify-content: flex-start;
	color: #FFFFFF;
	background: #222222;
	padding: 0.25em 0 0.25em 0;
	box-sizing: border-box;
}

.story-line.alternate{
	background: #444444;
}

.story-sidebar{
	width: 3%;
	height: 90%;
	display:flex;
	flex-direction: column;
}
.story-sidebar-block{
	-moz-transition: all .1s;
	-o-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
	height:0.8em;
	font-family: "Segoe UI";
	font-size: 1em;
	display:flex;
	align-items:center;
	justify-content:center;
	color: #FFFFFF;
	background: #222222;
}
.story-sidebar-block:hover{
	transform:translateX(-10px);
	background:#CC9922!important;
}
.story-sidebar-block.alternate{
	background: #444444;
}
.middle-stack{
	width: 20%;
	height:90%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.controls{
	width: 95%;
	min-height: 13%;
	margin-left: 1%;
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;
	position:relative;
}
.controlbox, .valuebox{
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	flex-grow: 1;
	min-height: 30%;
	font-family: "Segoe UI";
	display:flex;
	align-items:center;
	justify-content:center;
	font-size: 1em;
	padding: 0 5% 0 5%;
	margin: 4px 0 4px 0;
	border-top: 4px solid #DDDDDD;
	border-bottom: 4px solid #DDDDDD;
	color: #FFFFFF;
}
.controlbox:not(.faded),.valuebox:not(.faded){
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 80, 0.4), rgba(0, 0, 0, 0) 90%);
}
