{% extends 'woodcutter/base.html' %}
{% load static %}

{% block header %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'woodcutter/display.css' %}">
    <script>var staticRoot = "{% static 'woodcutter' %}"; var story = "{{ story | safe }}"; var boards = "{{ boards | safe }}"; var title = "{{ titlestring }}"</script>
{% endblock %}
{% block content %}
    <div class='main-container'>
    </div>
    <script type='text/jsx' src="{% static 'woodcutter/display.js' %}"></script>
{% endblock %}