{% extends 'woodcutter/base.html' %}
{% load static %}

{% block header %}
    <title> {{ titlestring}} </title>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <style>
        @font-face {
        font-family: Bahnschrift;
        src: url("{% static 'woodcutter/fonts/bahnschrift.ttf' %}");
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'woodcutter/display.css' %}">
    <script>var logIndex = {{ logIndex }}; var staticRoot = "{% static 'woodcutter' %}"; var story = "{{ story | safe }}"; var boards = "{{ boards | safe }}"; var titlestring = "{{ titlestring }}"; var players = {{ players | safe }}; var stepPoints = {{ stepPoints | safe }}; var turnPoints = {{ turnPoints | safe }}; var urls = {{ urls | safe }}; var borders = {{ borders | safe }}; var interiors = {{ interiors | safe }}; var turnOwners = {{ turnOwners }}; var kingdom = '{{ kingdom }}'; var phases = '{{ phases }}'; var empties = '{{ empties }}'; var inplays = '{{ inplays }}'; var scores = '{{ scores }}';</script>
{% endblock %}
{% block content %}
    <div class='content'>
    </div>
    <div class='bottom-tabs'>
    </div>
    </div>
    <script type='text/jsx' src="{% static 'woodcutter/display.js' %}"></script>
{% endblock %}