{% extends 'woodcutter/base.html' %}
{% load static %}

{% block header %}
	<title>Dominion Woodcutter</title>
	<link rel='stylesheet' href="{% static 'woodcutter/mainstyle.css' %}">
    <link rel='stylesheet' href="{% static 'woodcutter/perfect-scrollbar.css' %}">
    <script src="{% static 'woodcutter/perfect-scrollbar.min.js' %}"></script>
	<script src="{% static 'woodcutter/jquery-3.2.1.min.js' %}"></script>
{% endblock %}

{% block content %}
	<div class = 'content-container'>
		<img class = 'logo' src="{% static 'woodcutter/woodcuttericon_full.png' %}">

		<div class = 'search-main'>
			<input style="grid-column: 1/2;" class = 'searchbox' type = 'text' placeholder = 'Game Number'>
			<div style="grid-column: 2/3;" class = 'search-button'>Go!</div>
		</div>
		<div class = 'count-text'> {{ logcount }} Logs and counting!</div>
		<div class = 'undertext'>
			<div class = 'noTouchy help-hint'>How To Use</div>
			<div class = 'noTouchy random-log'>Random Log</div>
			<div class = 'noTouchy log-search'>Log Search</div>
		</div>
		<div class = 'help-container'>
			<p>This is a tool for collating and formatting Dominion logs from Dominion Online at ShuffleIt. To begin, get the <a href='https://greasyfork.org/en/scripts/38490-woodcutter-grabber' target="_blank">accompanying Tampermonkey script.</a></p>
			<img src="{% static 'woodcutter/tutorial1.png' %}">
			<p>Then, go to Dominion Online, and click "New Table" -> "Load Old Game"</p>
			<img src="{% static 'woodcutter/tutorial2.png' %}">
			<p>Then, input the game number, and hit "Grab Logs". Don't leave the tab or click anything until the script is done running (when you're pushed back to the lobby, and a new tab opens with your parsed log). That's it!</p>
			<p>Logs are accessible at ceviri.me/woodcutter/game-number/display</p>
			<p>Alternatively, you can process multiple logs at once. Create a new table, then</p>
			<img src="{% static 'woodcutter/tutorial3.png' %}">
			<p>Click on the 'Grab Logs' button</p>
			<img src="{% static 'woodcutter/tutorial4.png' %}">
			<p>Enter every log that you want to process, separated by commas. It helps if you turn off every Autoplay before doing this. If the process gets stuck at any point, the safest thing to do is to close the tab.</p>
		</div>
	</div>
{% endblock %}

{% block postblock %}
    <script src="{% static 'woodcutter/mainpage.js' %}"></script>
	<script>
		const psg = new PerfectScrollbar('.help-container', {suppressScrollX: true});
	</script>
{% endblock %}