{% load static %}

<html>
	<head>
		<title>Dominion Woodcutter</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href="{% static 'woodcutter/mainstyle.css' %}">
	</head>
	<body>
		<div class = 'content-container'>
			<h1> Dominion Woodcutter </h1>
			<p>This is a tool for collating and formatting Dominion logs from Dominion Online at ShuffleIt. To begin, get the <a href='https://greasyfork.org/en/scripts/38490-woodcutter-grabber' target="_blank">accompanying Tampermonkey script.</a></p>
			<img src="{% static 'woodcutter/tutorial1.png' %}">
			<p>Then, go to Dominion Online, and click "New Table" -> "Load Old Game"</p>
			<img src="{% static 'woodcutter/tutorial2.png' %}">
			<p>Then, input the game number, and hit "Grab Logs". Don't leave the tab or click anything until the script is done running (when you're pushed back to the lobby, and a new tab opens with your parsed log). That's it!</p>
			<p>Logs are accessible at ceviri.me/woodcutter/game-number/display</p>
		</div>
	</body>
</html>